* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
  text-decoration: none;
}

body {
  overflow-x: hidden;
}




/*#region header*/

.hero-header {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: #333;
}

.wrapper {
  width: 1280px;
  max-width: 95%;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  padding: 40px 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.logo i {
  height: 45px;
  width: 45px;
  background-color: rgb(0, 119, 255);
  border-radius: 50%;
  color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 10px;
  margin-right: 5px;
  text-align: center;
  cursor: pointer;
}

.logo .logo-text {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
}

nav .togglebtn {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 45px;
  right: 3%;
  z-index: 5;
  cursor: pointer;
  display: none;
}

nav .togglebtn span {
  display: block;
  background-color: rgb(0, 119, 255);
  margin: 5px 0px;
  width: 100%;
  height: 3px;
  transition: 0.3s;
  transition-property: transform, opacity;
}

nav .navlinks {
  list-style-type: none;
}

nav .navlinks li {
  display: inline-block;
}

nav .navlinks li a {
  color: #fff;
  margin-right: 2em;
}

/*#endregion*/



/*#region header*/

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 4rem;

}

.container .mlk_pic {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  border: 15px solid #222;
  box-shadow: 5px 7px 25px rgba(0, 0, 0, 5);
}

.mlk_pic img {
  height: 100%;
  width: 100%;
  transition: 0.5s;
}

.mlk_text {
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

.mlk_text h5 {
  color: #fff;
  font-size: 14px;
}

.mlk_text h5 span {
  color: rgb(0, 119, 255);
  font-size: 16px;
}

.mlk_text h1 {
  color: rgb(0, 119, 255);
  font-size: 3rem;
}

.mlk_text p {
  color: #fff
}

.btn-group {
  margin: 45px 0;
}

.btn-group .btn {
  border-color: #222;
  color: #fff;
  background-color: #333;
  padding: 12px 25px;
  margin: 5px 0;
  margin-right: 5px;
  border-radius: 30px;
  border: 2px solid #e5e5e5;
  box-shadow: 5px 7px 25px rgba(0, 0, 0, 5);
}

.btn.active {
  border-color: rgb(0, 119, 255);
}

.mlk_text .social i {
  color: #e5e5e5;
  font-size: 18px;
  margin-right: 10px;
  transition: 0.5s;
}


.mlk_text .social i:hover {
  color: rgb(0, 119, 255);
  transform: rotate(360deg);
}

/*#endregion*/



/*#region competence*/


@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700');


.skills {
  width: inherit;
  position: relative;
  float: left;
  padding: 30px 0;
}
  
.skills h2 {
  font-size: 24px;
  margin-bottom: 25px;
  font-weight: 700;
}

.html5 {
    width: 90%;
    animation: html5 2s ease-out;
  }

  .css3 {
    width: 80%;
    animation: css3 2s ease-out;
  }

  .js {
    width: 50%;
    animation: js 2s ease-out;
  }

  .jquery {
    width: 60%;
    animation: jquery 2s ease-out;
  }

  .wordpress {
    width: 50%;
    animation: wordpress 2s ease-out;
  }

  .magento {
    width: 60%;
    animation: magento 2s ease-out;
  }

  .photoshop {
    width: 90%;
    animation: photoshop 2s ease-out;
  }

  .illustrator {
    width: 80%;
    animation: illustrator 2s ease-out;
  }

  @keyframes html5 {
    0% {
      width: 0px;
    }

    100% {
      width: 90%;
    }
  }

  @keyframes css3 {
    0% {
      width: 0px;
    }

    100% {
      width: 80%;
    }
  }

  @keyframes js {
    0% {
      width: 0px;
    }

    100% {
      width: 50%;
    }
  }

  @keyframes CS {
    0% {
      width: 0px;
    }

    100% {
      width: 60%;
    }
  }

  @keyframes shell {
    0% {
      width: 0px;
    }

    100% {
      width: 60%;
    }
  }

  @keyframes python {
    0% {
      width: 0px;
    }

    100% {
      width: 80%;
    }
  }

  @keyframes wordpress {
    0% {
      width: 0px;
    }

    100% {
      width: 50%;
    }
  }


  @keyframes photoshop {
    0% {
      width: 0px;
    }

    100% {
      width: 90%;
    }
  }

  @keyframes blender {
    0% {
      width: 0px;
    }

    100% {
      width: 80%;
    }
  }

  @keyframes unity {
    0% {
      width: 0px;
    }

    100% {
      width: 80%;
    }
  }

  @keyframes vegas {
    0% {
      width: 0px;
    }

    100% {
      width: 80%;
    }
}


.skills ul{
  padding-top: 30px;
}

.skill li {
    margin-bottom: 50px;
    background: #dedede;
    height: 6px;
}

.skill em {
      font-size: 18px;
      position: relative;
      top: -30px;
}

.skill span {
      height: inherit;
      background-color: #94c245;
      background: linear-gradient(90deg, #76b82a, #aecd60);
      position: absolute;
}






/*#endregion*/


@media(max-width:930px) {
  nav .togglebtn {
    display: block;

  }

  .click {
    top: 45px;
  }

  .click span {
    position: absolute;
    margin-top: 12px;
  }

  .click span:first-child {
    transform: rotate(-40deg);
  }

  .click span:nth-child(2) {
    opacity: 0;
    margin: 0;
  }

  .click span:last-child {
    transform: rotate(45deg);
    margin: 0;
  }

  nav .navlinks {
    position: absolute;
    top: 110px;
    right: 0;
    bottom: 0;
    width: 60%;
    height: 100vh;
    background-color: #333;
    z-index: 3;
    box-shadow: 5px 13px 30px rgba(0, 0, 0, 5);
    transition: 0.5s;
    padding: 25px 0px;
  }

  nav .navlinks li {
    display: block;
  }


  nav .navlinks li a {
    display: block;
    margin-bottom: 15px;
    text-align: center;
  }

  nav .navlinks .open {
    right: 0;
  }


}

@media(max-width:768px) {
  .container {
    flex-direction: column;
    padding-top: 2rem;
  }

  .mlk_text {
    padding: 40px 0px;
  }

}


/*#region loader*/

.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}

.chargement {
  opacity: 0;
  transition: opacity 0.5s ease-out, height 2s, width 2s;
  height: 0%;
  width: 0%;
  pointer-events: none;
}

/*#endregion*/



/*#region veilles*/

.block_p{
  margin: 5%;
}


.t{
  text-align: left;
  size: 16px;
  font-family: poppins, sans-serif;
  
}

/*#endregion*/